<a href="https://colab.research.google.com/github/Marcelooyola/Modulo6/blob/main/trabajo_final_mod6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BA/blob/main/dba.png?raw=true)

# **Trabajo Final - Módulo 6 - Aprendizaje Automático - Machine Learning - Clasificación**

![logo](https://www.python.org/static/community_logos/python-powered-w-100x40.png)

~~~
Apellido: Oyola
Nombre: Marcelo
~~~

**En virtud del DataFrame propuesto, generar modelos de clasificación para predecir la contratación de depositos a plazo:**

- **age:** edad del cliente, valor numérico entero mayor a 18.
- **job:** trabajo del cliente.
- **marital:** estado civil del cliente.
- **education:** educación alcanzada por el cliente.
- **default:** si el cliente posee deudas.
- **balance:** depósito del cliente en euros.
- **housing:** propietario de inmueble o alquila.
- **loan:** si el cliente tiene un préstamo.
- **contact:** último contacto del cliente.
- **day:** día del último contacto del cliente.
- **month:** mes del último contacto el cliente.
- **duration:** duración del último contacto del cliente.
- **campaign:** identificación de la campaña.
- **pdays:** dias posteriores a la campaña.
- **previous:** números de contactos previos a la campaña.
- **poutcome:** resultados de la campaña anterior.
- **y:** si suscribe un depósito a plazo posterior a campaña.

# **Carga de módulos y datos necesarios**

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder # codificar variables categoricas
from sklearn.preprocessing import StandardScaler # estandarizar variables numericas
from sklearn.model_selection import train_test_split

In [30]:
#regresion logistica
from sklearn.linear_model import LogisticRegression
#arbol de regresion
from sklearn.ensemble import RandomForestClassifier

# **Creación del DataFrame**

In [3]:
url="https://raw.githubusercontent.com/cristiandarioortegayubro/BA/main/Datasets/"
archivo="bank-full.csv"
clasificacion = pd.read_csv(url+archivo)

In [4]:
clasificacion.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN,no
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN,no
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN,no
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN,no

In [5]:
clasificacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        44923 non-null  object
 2   marital    45211 non-null  object
 3   education  43354 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    32191 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   8252 non-null   object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [6]:
clasificacion.isna().sum().sort_values(ascending = False)

poutcome     36959
contact      13020
education     1857
job            288
month            0
previous         0
pdays            0
campaign         0
duration         0
age              0
day              0
loan             0
housing          0
balance          0
default          0
marital          0
y                0
dtype: int64

In [7]:
#Funcion para ver mejor el contenido de cada columna

for i in clasificacion.columns:
  print("------"*10)
  print("Datos de Columna: "+ i)
  print(clasificacion[i].unique())
  print("Cantidad de datos nulos: "+ str(clasificacion[i].isna().sum()))
  print("Cantidad total de datos: "+ str((clasificacion[i].count() + clasificacion[i].isna().sum())))

------------------------------------------------------------
Datos de Columna: age
[58 44 33 47 35 28 42 43 41 29 53 57 51 45 60 56 32 25 40 39 52 46 36 49
 59 37 50 54 55 48 24 38 31 30 27 34 23 26 61 22 21 20 66 62 83 75 67 70
 65 68 64 69 72 71 19 76 85 63 90 82 73 74 78 80 94 79 77 86 95 81 18 89
 84 87 92 93 88]
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: job
['management' 'technician' 'entrepreneur' 'blue-collar' nan 'retired'
 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid' 'student']
Cantidad de datos nulos: 288
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: marital
['married' 'single' 'divorced']
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: education
['tertiary' 'secondary' nan 'primary']
Cantidad de datos nulos: 1857
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: default
['no' 'yes']
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: balance
[ 2143    29     2 ...  8205 14204 16353]
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: housing
['yes' 'no']
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: loan
['no' 'yes']
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: contact
[nan 'cellular' 'telephone']
Cantidad de datos nulos: 13020
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: day
[ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24 25  1 10 22 31]
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: month
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: duration
[ 261  151   76 ... 1298 1246 1556]
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: campaign
[ 1  2  3  5  4  6  7  8  9 10 11 12 13 19 14 24 16 32 18 22 15 17 25 21
 43 51 63 41 26 28 55 50 38 23 20 29 31 37 30 46 27 58 33 35 34 36 39 44]
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: pdays
[ -1 151 166  91  86 143 147  89 140 176 101 174 170 167 195 165 129 188
 196 172 118 119 104 171 117 164 132 131 123 159 186 111 115 116 173 178
 110 152  96 103 150 175 193 181 185 154 145 138 126 180 109 158 168  97
 182 127 130 194 125 105 102  26 179  28 183 155 112 120 137 124 187 190
 113 162 134 169 189   8 144 191 184 177   5  99 133  93  92  10 100 156
 198 106 153 146 128   7 121 160 107  90  27 197 136 139 122 157 149 135
  30 114  98 192 163  34  95 141  31 199  94 108  29 268 247 253 226 244
 239 245 204 231 238 258 230 254 265  71 223 246 250 266 240 205 261 259
 241 260 234 251 225 161 237 262 248 255 220 227 206 224 249 235 228 263
   2 270 232 252 207 200 269 233 256 273 272 242 264 208 214 222 271 203
 221 202 216 201 257 229 210 217  75 213  73  76 267 211 215  77 236  82
   6 209 274   1 243 212 275  80 276   9 279  12 280  88 277  85  84 219
  24  21 282  41 294  49 329 307 303 331 308 300  64 314 287 330 332 302
 323 318 333  60 326 335 313 312 305 325 327 336 309 328 322  39 316 292
 295 310 306 320 317 289  57 321 142 339 301 315 337 334 340 319  17  74
 148 341 299 344 342 324 345 346 304 281 343 338  14 347  15 291 348 349
 285 350 284  25 283 278  81   4  87  83  79  70  13 293  37  78  63  22
 296 355  66  19  35 360 357 354 351 362 358 365 298 286 364 363  47 361
 288 366 356 352 359 297 367 353 368  42 290  67 371 370 369  50  36 373
 374 372 311 375 378  59 379  40  18  43  20  69  38 385  56  55  44 391
  72 390  32  62 399 393  65 377 395 388 389 386  61 412 405 434 394 382
 459 440 397 383  68 461 462 463 422  51 457 430 442 403 454 428 392 410
 401 474 475 477 478  54 476 380 479  45  46 495  58  48 518  52 515 520
 511 536 387 218  33 544 435 436 555 433 446 558 469 616 561 553 384 592
 467 585 480 421 667 626 426 595 381 376 648 521 452 449 633 398  53 460
 670 551 414 557 687 404 651 686 425 504 578 674 416 586 411 756 450 745
 514 417 424 776 396 683 529 439 415 456 407 458 532 481 791 701 531 792
 413 445 535 784 419 455 491 431 542 470 472 717 437   3 782 728 828 524
 562 761 492 775 579 493 464 760 466 465 656 831 490 432 655 427 749 838
 769 587 778 854 779 850 771 594 842 589 603 484 489 486 409 444 680 808
 485 503 690 772 774 526 420 528 500 826 804 508 547 805 541 543 871 550
 530]
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: previous
[  0   3   1   4   2  11  16   6   5  10  12   7  18   9  21   8  14  15
  26  37  13  25  20  27  17  23  38  29  24  51 275  22  19  30  58  28
  32  40  55  35  41]
Cantidad de datos nulos: 0
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: poutcome
[nan 'failure' 'other' 'success']
Cantidad de datos nulos: 36959
Cantidad total de datos: 45211
------------------------------------------------------------
Datos de Columna: y
['no' 'yes']
Cantidad de datos nulos: 0
Cantidad total de datos: 45211

##Variables categoricas y numericas

In [8]:
#numericas
cols_numericas = list(clasificacion.select_dtypes(exclude=["object"]))
cols_numericas

['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

In [9]:
#categoricas
cols_categoricas = list(clasificacion.select_dtypes(include=["object"]))
cols_categoricas

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome',
 'y']

##Imputaciones

poutcome     36959
contact      13020
education     1857
job            288

In [10]:
clasificacion.poutcome

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
45206        NaN
45207        NaN
45208    success
45209        NaN
45210      other
Name: poutcome, Length: 45211, dtype: object

In [11]:
imputacion = SimpleImputer(strategy = 'most_frequent')
cols_imputar = ['poutcome', 'contact', 'education','job']

for i in cols_imputar:
  clasificacion[i] = imputacion.fit_transform(clasificacion[['poutcome']])

#clasificacion.poutcome = imputacion.fit_transform(clasificacion[['poutcome']])
#clasificacion.poutcome

In [12]:
clasificacion

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,failure,married,failure,no,2143,yes,no,failure,5,may,261,1,-1,0,failure,no
1,44,failure,single,failure,no,29,yes,no,failure,5,may,151,1,-1,0,failure,no
2,33,failure,married,failure,no,2,yes,yes,failure,5,may,76,1,-1,0,failure,no
3,47,failure,married,failure,no,1506,yes,no,failure,5,may,92,1,-1,0,failure,no
4,33,failure,single,failure,no,1,no,no,failure,5,may,198,1,-1,0,failure,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,failure,married,failure,no,825,no,no,failure,17,nov,977,3,-1,0,failure,yes
45207,71,failure,divorced,failure,no,1729,no,no,failure,17,nov,456,2,-1,0,failure,yes
45208,72,success,married,success,no,5715,no,no,success,17,nov,1127,5,184,3,success,yes
45209,57,failure,married,failure,no,668,no,no,failure,17,nov,508,4,-1,0,failure,no
45210,37,other,married,other,no,2971,no,no,other,17,nov,361,2,188,11,other,no

In [13]:
clasificacion.isnull().sum().sort_values(ascending = False)

age          0
day          0
poutcome     0
previous     0
pdays        0
campaign     0
duration     0
month        0
contact      0
job          0
loan         0
housing      0
balance      0
default      0
education    0
marital      0
y            0
dtype: int64

##Codificar variables categoricas

In [14]:
clasificacion.select_dtypes(include=["object"])

,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,failure,married,failure,no,yes,no,failure,may,failure,no
1,failure,single,failure,no,yes,no,failure,may,failure,no
2,failure,married,failure,no,yes,yes,failure,may,failure,no
3,failure,married,failure,no,yes,no,failure,may,failure,no
4,failure,single,failure,no,no,no,failure,may,failure,no
...,...,...,...,...,...,...,...,...,...,...
45206,failure,married,failure,no,no,no,failure,nov,failure,yes
45207,failure,divorced,failure,no,no,no,failure,nov,failure,yes
45208,success,married,success,no,no,no,success,nov,success,yes
45209,failure,married,failure,no,no,no,failure,nov,failure,no
45210,other,married,other,no,no,no,other,nov,other,no

In [15]:
clasificacion[cols_categoricas] = clasificacion[cols_categoricas].apply(LabelEncoder().fit_transform)

In [16]:
clasificacion.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,0,1,0,0,2143,1,0,0,5,8,261,1,-1,0,0,0
1,44,0,2,0,0,29,1,0,0,5,8,151,1,-1,0,0,0
2,33,0,1,0,0,2,1,1,0,5,8,76,1,-1,0,0,0
3,47,0,1,0,0,1506,1,0,0,5,8,92,1,-1,0,0,0
4,33,0,2,0,0,1,0,0,0,5,8,198,1,-1,0,0,0

## Estandarizar variables numericas

In [17]:
clasificacion[cols_numericas].head(5)

   age  balance  day  duration  campaign  pdays  previous
0   58     2143    5       261         1     -1         0
1   44       29    5       151         1     -1         0
2   33        2    5        76         1     -1         0
3   47     1506    5        92         1     -1         0
4   33        1    5       198         1     -1         0

In [18]:
scaler = StandardScaler()

In [19]:
clasificacion[cols_numericas] = scaler.fit_transform(clasificacion[cols_numericas])

In [20]:
clasificacion[cols_numericas].sample(5)

            age   balance       day  duration  campaign     pdays  previous
26204  1.136095 -0.445120  0.503892 -0.738426 -0.569351 -0.411453 -0.251940
7467  -1.029906 -0.406365  1.585313 -0.078296 -0.246560 -0.411453 -0.251940
13721 -0.559037 -0.010599 -0.697687  2.496212 -0.569351 -0.411453 -0.251940
23338  0.288529  0.387137  1.344997 -0.466608  0.076230 -0.411453 -0.251940
28087  1.230269 -0.345604  1.465155  1.040043  0.399020  2.175245  1.050473

## Preparar el dataset

In [21]:
X = clasificacion.drop(labels = ['y'],axis = 1)
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,1.606965,0,1,0,0,0.256419,1,0,0,-1.298476,8,0.011016,-0.569351,-0.411453,-0.251940,0
1,0.288529,0,2,0,0,-0.437895,1,0,0,-1.298476,8,-0.416127,-0.569351,-0.411453,-0.251940,0
2,-0.747384,0,1,0,0,-0.446762,1,1,0,-1.298476,8,-0.707361,-0.569351,-0.411453,-0.251940,0
3,0.571051,0,1,0,0,0.047205,1,0,0,-1.298476,8,-0.645231,-0.569351,-0.411453,-0.251940,0
4,-0.747384,0,2,0,0,-0.447091,0,0,0,-1.298476,8,-0.233620,-0.569351,-0.411453,-0.251940,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0.947747,0,1,0,0,-0.176460,0,0,0,0.143418,9,2.791329,0.076230,-0.411453,-0.251940,0
45207,2.831227,0,0,0,0,0.120447,0,0,0,0.143418,9,0.768224,-0.246560,-0.411453,-0.251940,0
45208,2.925401,2,1,2,0,1.429593,0,0,2,0.143418,9,3.373797,0.721811,1.436189,1.050473,2
45209,1.512791,0,1,0,0,-0.228024,0,0,0,0.143418,9,0.970146,0.399020,-0.411453,-0.251940,0
45210,-0.370689,1,1,1,0,0.528364,0,0,1,0.143418,9,0.399328,-0.246560,1.476138,4.523577,1

In [22]:
y = clasificacion['y']
y

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [23]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.3, random_state = 123)

# **Generación del primer modelo de clasificación**

In [25]:
#crear y entrenar modelo
modelo_regresion = LogisticRegression()
modelo_regresion.fit(X_train, y_train)

LogisticRegression()

In [26]:
#hacer prediccion sobre conjunto de pruebas
y_prediccion = modelo_regresion.predict(X_test)

In [27]:
#Evaluar modelo
accuracy = accuracy_score(y_test, y_prediccion)
reporte_clasificacion = classification_report(y_test, y_prediccion)

print(f"Precision: {accuracy}")
print(f"Reporte de clasificacion: \n {reporte_clasificacion}")

Precision: 0.8980389265703332
Reporte de clasificacion:
               precision    recall  f1-score   support

           0       0.91      0.98      0.94     11998
           1       0.62      0.30      0.41      1566

    accuracy                           0.90     13564
   macro avg       0.77      0.64      0.68     13564
weighted avg       0.88      0.90      0.88     13564

# **Generación del segundo modelo de clasificación**

In [31]:
modelo_arbol = RandomForestClassifier()
modelo_arbol.fit(X_train, y_train)

RandomForestClassifier()

In [32]:
y_prediccion = modelo_arbol.predict(X_test)

In [33]:
from sklearn.metrics import classification_report
accuracy = accuracy_score(y_test, y_prediccion)
reporte_clasificacion  = classification_report(y_test, y_prediccion)

print(f"Precision: {accuracy}")
print(f"Reporte de clasificacion: \n {reporte_clasificacion}")

Precision: 0.9031996461220879
Reporte de clasificacion:
               precision    recall  f1-score   support

           0       0.93      0.97      0.95     11998
           1       0.62      0.41      0.49      1566

    accuracy                           0.90     13564
   macro avg       0.77      0.69      0.72     13564
weighted avg       0.89      0.90      0.89     13564

# **Conclusiones**

El reporte de clasificación proporciona una evaluación detallada del rendimiento del modelo de clasificación. Vamos a analizar los diferentes aspectos del reporte:

1. **Precision**:
   - Para la clase 0: 0.93. Esto significa que de todas las predicciones que el modelo etiquetó como clase 0, el 93% de ellas eran realmente de la clase 0.
   - Para la clase 1: 0.62. Esto significa que de todas las predicciones que el modelo etiquetó como clase 1, el 62% de ellas eran realmente de la clase 1.

2. **Recall**:
   - Para la clase 0: 0.97. Esto significa que el 97% de las muestras reales de la clase 0 fueron identificadas correctamente por el modelo.
   - Para la clase 1: 0.41. Esto significa que solo el 41% de las muestras reales de la clase 1 fueron identificadas correctamente por el modelo.

3. **F1-Score**:
   - Para la clase 0: 0.95. El F1-score es la media armónica de la precisión y el recall, lo que proporciona una medida equilibrada entre ambas métricas. Un valor alto indica un buen equilibrio entre precision y recall.
   - Para la clase 1: 0.49. El F1-score de la clase 1 es relativamente bajo, lo que indica que el modelo tiene dificultades para clasificar correctamente las muestras de esta clase.

4. **Support**:
   - Para la clase 0: 11998. Este es el número total de muestras en la clase 0 en tu conjunto de prueba.
   - Para la clase 1: 1566. Este es el número total de muestras en la clase 1 en tu conjunto de prueba.

5. **Accuracy**:
   - 0.90. La precisión global del modelo en el conjunto de prueba.

6. **Macro avg**:
   - Precisión promedio para todas las clases (0.77).
   - Recall promedio para todas las clases (0.69).
   - F1-Score promedio para todas las clases (0.72).

7. **Weighted avg**:
   - Estas son las mismas métricas promediadas, pero ponderadas por el número de muestras en cada clase. Esto es útil cuando hay desbalance de clases.

En general, el modelo tiene una buena precisión en la clase 0, pero tiene dificultades para clasificar correctamente la clase 1. Esto puede indicar que el modelo necesita ajustes adicionales, como el ajuste de hiperparámetros o incluso la consideración de técnicas de manejo de desbalance de clases si este es el caso.